<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<head th:replace="/comanRef :: html"></head>
<style>
.prof {
    margin-right: 0.5rem;
}
</style>
<script>
function getjokes(){
	
	$.ajax({
		  url: 'https://official-joke-api.appspot.com/random_joke',
		  method: 'GET',
		  dataType: 'json',
		  success: function(responseData) {
		    //console.log(responseData);
			$("#ct").text(responseData.setup);
			$("#ca").text(responseData.punchline);
			$("#gj").text("Next one");
			
		  },
		  error: function(jqXHR, textStatus, errorThrown) {
		    console.log('Request failed: ' + textStatus + ', ' + errorThrown);
		    // Handle any errors that occurred during the request
		  }
		});

	
}
</script>
<title>Home</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand text-white" href="#">SRB</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active text-white"
						aria-current="page" href="#">Home</a></li>
					<li class="nav-item"><a class="nav-link text-white" href="#">Link</a>
					</li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle text-white" href="#" role="button"
						data-bs-toggle="dropdown" aria-expanded="false"> Contact </a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Something else
									here</a></li>
						</ul></li>

				</ul>

			
				
			</div>
			<div>
				<a class="nav-link" href="#"> <i class="fa fa-user"> <svg
							xmlns="http://www.w3.org/2000/svg" width="35" height="35"
							fill="white" class="bi bi-person mt-2 prof" viewBox="0 0 16 16">
  <path
								d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
</svg>
				</i></a>
				</div>
				<div>
			<form action="#" th:action="@{/logout}" method="POST">

					<input type="submit" value="Logout"
						class="btn btn-outline-light mt-2" />

				</form>
			</div>
				
		</div>
	</nav>
	<div class="container">
		<img class="img-fluid float-right rounded-4"
			src="https://img.freepik.com/free-vector/businessman-character-putting-money-piggy-bank_1012-341.jpg?w=740&t=st=1683982915~exp=1683983515~hmac=c476445d3c9f0b881eedbf5ca2f93ce0e4f4e6abd3310a90fb6be7490a30bf98"
			alt="piggy bank" width="350" height="350">
	</div>
	<div class="jumbotron my-jumbotron">
		<h1 class="display-4">Welcome to SRB</h1>
		<p class="lead">We've 1000+ members in our community and thanks to join
			us</p>
		<hr class="my-4">
		<div class="text-muted">
		<p>you choosed the best banking system here all service will be done with in a days and our best supports always with you </p>
		<p>and enjoy your netbanking.</p>
		</div>
		<a class="btn btn-primary btn-lg" href="#" role="button">Learn
			more</a>
	</div>
	<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Some fun here</h5>
    <p class="card-text" id="ct"></p>
    <p class="card-text" id="ca"></p>
    <a onclick="getjokes()" class="btn btn-primary text-white" id="gj">Get Jokes</a>
  </div>
</div>
</body>
</html>